@use '~/shared/styles/vars' as vars;

.main {
  display: flex;
}

.content {
  padding: vars.rem(20) vars.rem(20);
  width: 100%;

  @media (max-width: vars.$max-950) {
    width: calc(100% - 400px);
  }
}