@use '~/shared/styles/vars' as vars;

.maskedLabel {
  display: flex;
  flex-direction: column;
  gap: vars.rem(8);
  font-size: vars.rem(16);
  font-weight: 500;
  color: vars.$gray;
  text-align: start;
  transition: color 0.2s;
  margin-bottom: vars.rem(10);

  &:hover {
    color: rgba(vars.$gray, 0.5);
  }

  &_active {
    color: vars.$green;

    &:hover {
      color: rgba(vars.$green, 0.5);
    }
  }
}